@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");


.container {
  width: 100%;
  height: 110vh;
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-top: 45px;
}
.chart {
  height: 50vh;
  width: 60%;
  margin-left: 450px;
}

.spinner {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto-list {
  list-style-type: none;
  /* border: 1px solid purple; */
  height: 80%;
}

.crypto-item {
  width: 65%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 100px;
  margin-top: 50px;
  font-size: 15px;
}
.crypto-item:hover{
  transform: translateY(-3px);
  box-shadow: 0px 20px 20px 0px rgba(48, 48, 48, 0.911);
  cursor: pointer;
}

.crypto_Grid {
  display: grid;
  column-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.crypto-item:hover {
  border: 2px solid #0879dc;

}

.crypto-item-symbol {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.crypto-item-details {
  flex: 1;
  margin-left: 25px;
}

.crypto-item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.crypto-item-price {
  font-size: 16px;
  margin-bottom: 5px;
}

.crypto-item-change {
  font-size: 14px;
  margin-bottom: 5px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.pagination {
  margin-top: 7em;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.pagination button {
  padding: 5px 10px;
  height: 40px;
  width: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.future {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 70px;
  padding: 15px;
  color: #0879dc;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Lora", serif;
  text-transform: none;
  text-align: left;
}

.search-bar-holder {
  margin-bottom: 20px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search2 {
  width: 100%;
  max-width: 400px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 16px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.search2:focus {
  outline: none;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.search2::placeholder {
  color: #0879dc;
  font-size: 1.2em;
}


/*Button*/
.explore_div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding: 10px;
  margin-top: 55px;
}

.explore_button {
  background-color: transparent;
	position: relative;
  border: none;
	padding: 6px 2px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
	color: #0879dc;
	text-decoration: none;
	letter-spacing: 4px;
	font: 700 15px consolas;
	overflow: hidden;
  margin-bottom: 25px;
  margin-left: 45px;
}

.explore_button:hover{
  cursor: pointer;
  text-shadow: 4px 4px 6px rgba(4, 254, 252, 0.6);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  color: white;
  background: linear-gradient(to right, #000000, #000000);
}

.arr{

  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.explore_button span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #007bff, #007bff);
	animation: animate1 5s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}


.explore_button span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, #007bff, #007bff);
	animation: animate3 5s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}










@media screen and (max-width: 768px) {
  .future {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 35px;
    padding: 15px;
    color: #0879dc;
    font-weight: 600;

    font-family: "Lora", serif;
    text-transform: none;
  }
}
