.footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 200px;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 3px;
}

.footer__social a {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 1rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.8rem;
}

.footer__links a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer__links a:hover {
  text-decoration: underline;
}
.footer__copyright {
  font-size: 1rem;
}

