@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

.logo {
  margin: auto;
}
.Navbar {
  height: 15vh;
  background-image: linear-gradient(to right, #e2eefb 50%, #F2F5F9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  height: 6vh;
  width: 16vh;
  background-color: transparent;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 22px;
  color: #2196f3;
  text-align: center;
  border: none;
  padding: 5px;
  font-family: 'Roboto Slab', serif;    
  cursor: pointer;
}
.buttons:hover {
  transition: 0.3s ease-in;
  color: #ffb711;
  letter-spacing: 2px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}
.loginButtons {
  background-image: linear-gradient(to bottom right, #f60000ea 30%, #ffb811);
  color: black;
  border-radius: 20px;
  font-weight: 900;
}
.log-out {
  border-radius: 50%;
}
.log-out:hover {
  box-shadow: 4px 7px 55px -6px rgba(57, 242, 242, 0.855);
  -webkit-box-shadow: 4px 7px 55px -6px rgba(57, 242, 242, 0.855);
  -moz-box-shadow: 4px 7px 55px -6px rgba(57, 242, 242, 0.855);
  cursor: pointer;
}


.search-icon {
  position: relative;
  right: 35px;
  top: 2px;
}
.search-icon:active {
  transform: translateY(2px);
}
.search-icon:hover {
  cursor: pointer;
}

.buttons:active {
  transform: translateY(3px);
}





/*for login droupdown*/
.logoutAlert {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #434344, #000000);
  padding: 2rem;
  z-index: 1;
  position: absolute;
  width: 30rem;
  border-radius: 1rem;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.7rem;
  top: 8.8rem;
  right: 10px;
  color: white;
}

.alert-btn-container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.alert-btn {
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 5rem;
  font-weight: 900;
  font-family: "Lora", serif;
  box-shadow: 4px 7px 55px -6px rgba(200, 255, 255, 0.855);
  -webkit-box-shadow: 4px 7px 55px -6px rgba(200, 255, 255, 0.855);
  -moz-box-shadow: 4px 7px 55px -6px rgba(200, 255, 255, 0.855);
  cursor: pointer;
  color: whitesmoke;
  background-image: linear-gradient(to top right, #a40606, #a71d31);
}

.alert-btn.no {
  background-image: linear-gradient(to bottom right, #0bab64, #3bb78f);
  outline: none;
  color: #ffb711;
}

@media (max-width: 480px) {
  .logged-btn {
    border-radius: 10rem;
    padding: 0.4rem;
  }
}

@media (max-width: 350px) {
  .logoutAlert {
    width: 24rem;
    right: 8px;
  }
}

/* CSS for screens smaller than 768px (i.e. tablets and mobile devices) */
@media only screen and (max-width: 768px) {
  .logo {
    height: 20vh;
    width: 20vh;
    margin-top: 5px;
  }

  .Navbar {
    height: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    height: 4vh;
    width: 80%;
    margin: 10px 0;
    font-size: 16px;
  }

  .searchBarHolder {
    width: 80%;
    margin-bottom: 20px;
  }

  .links {
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
  }

  .buttons {
    height: 5vh;
    width: 40%;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .search-results {
    top: 18%;
  }

  .funk-container {
    font-size: 60px;
    margin-top: 50px;
  }
}
