  @import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
.ModalBody {
  width: 70%;
  height: 100%;
  background-image: linear-gradient(to right, #e2eefb 50%, #F2F5F9);
  font-size: 1.1rem;
  text-align: left;
  font-family: "Lora", serif;
  border-radius: 20px;

}
.terms_heading{
  color: #0879dc;
  margin-top: 40px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #0879dc;
}
.maindiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 675px;
  width: 60%;
  margin-top: 100px;
  z-index: 1;
}

.conditions {
  background: transparent;
  color: #0879dc;
  text-decoration: none;
  margin-top: 5px;
  font-size: 1.5rem;
  border: none;
  overflow: none;
}
.conditions:hover{
  background: transparent;
  text-decoration: underline;
  cursor: pointer;

}
.terms_list{
  margin-top: 25px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 25px;
  font-weight: bold;
}
