@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  
}
/*Fundbox*/

.fundboxContainer{
  background-image: linear-gradient(to right, #DCE5EF 10%, #F2F5F9);
}
.graph {
  height: 80vh;
  padding-top: 20px;
}

.investment {
  background-color: gray;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.invest-return {
  height: 30vh;
  width: 100%;
}
.fund-name {
  text-align: center;
  font-size: 3em;
  color: #ffb711;
}
.information {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "Lora", serif;
  color: #ffb711;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 65vh;
}
.stats-heading {
  font-size: 75px;
  font-family: "Lora", serif;
  color: #ffb711;
}
.priciple {
  font-size: 55px;
  font-family: "Lora", serif;
  color: #ffb711;
}
.over {
  font-size: 30px;
  color: #ffb711;
}

#button1,
#button3 {
  width: 5vw;
  color: aliceblue;
  border: none;
  height: 5vh;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
}
#button2 {
  width: 5vw;
  color: aliceblue;
  border: none;
  height: 5vh;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
}
.selection:hover {
  transition: 0.4s;
  letter-spacing: 2px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #04fefc 30%, #004e92);
}
.selection:active {
  transform: translateY(3px);
}
.rainbow-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  width: 18vw;
  padding: 16px;
  border-radius: 20px 20px 20px 20px;
  border: 0px solid #f60000;
  color: aliceblue;
  font-size: 20px;
  font-family: "Lora", serif;
  text-align: center;

  box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
  -webkit-box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
  -moz-box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);

  text-shadow: -2px 4px 8px rgba(4, 254, 252, 0.82);
}
.heading1 {
  font-size: 50px;
  text-shadow: -2px 4px 8px rgba(4, 254, 252, 0.82);
}
.returns {
  color: white;
  height: 50vh;
  width: 50%;
  margin-top: 80px;
  padding: 20px 20px;
  font-family: "Lora", serif;
  margin-left: 450px;
  box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
  -webkit-box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
  -moz-box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
}
.return-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 25px;
  height: 100%;
}

/*SearchBar*/
.typewriter{
  color: #ffb711;
  font-size: 2.5rem;
  font-family: "Lora", serif;
  font-weight: bolder;

}

.search-carousel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%;
 
  background-image: linear-gradient(to right, #DCE5EF 10%, #F2F5F9);
}

.justSearch{
 
  height: 40vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.search-bar {
  height: 6vh;
  width: 60%;
  border-radius: 10px;
  color: red;
  text-align: center;
  font-size: 20px;
  outline: none;
  margin: auto;
  outline: none;


}

.search-bar:focus{
  outline: none;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.4);
 
}
.search-bar::placeholder{
  color: #2196f3;
  text-align: center;
  font-size: 20px;
  font-family: "Lora", serif;
}
.search-bar:focus::placeholder{
  color: transparent;
}
.search-results {
  position: absolute;
  right: 51%;
  top: 53%;
  height: 30vh;
  z-index: 1;
  font-size: 1.1rem;
  font-weight: 800;
  overflow: hidden;
  overflow-y: auto;
  background-image: linear-gradient(to bottom right, #fefefe 20% , #dae6f6 );
}

.search-results p {
  
  width: 35vw;
  color: #2196f3;
  height: 5vh;
  /* border-bottom: 2px solid #2196f3; */
  font-family: "Lora", serif;
  padding: 18px;
}
.search-results p:hover {
  cursor: pointer;
  color: #ffb711;
  transition: 0.1s;
}
.search-results p:active {
  transform: translateY(1px);
}