@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to top left, #020000e8, #0c0404);
}
.graph {
  /* background-color: red; */
  height: 80vh;
  padding-top: 20px;
}
.heading0 {
  margin-top: 30px;
}
.investment {
  background-color: gray;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.invest-return {
  background-color: purple;
  height: 30vh;
  width: 100%;
}
.heading {
  text-align: center;
  font-size: 3em;
  color: #ffb711;
}
.information {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "Lora", serif;
  color: #ffb711;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 65vh;
}
.stats-heading {
  font-size: 75px;
  font-family: "Lora", serif;
  color: #ffb711;
}
.priciple {
  font-size: 55px;
  font-family: "Lora", serif;
  color: #ffb711;
}
.over {
  font-size: 30px;
  color: #ffb711;
}

#button1,
#button3 {
  width: 5vw;
  color: aliceblue;
  border: none;
  height: 5vh;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
}
#button2 {
  width: 5vw;
  color: aliceblue;
  border: none;
  height: 5vh;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
}
.buttons2:hover {
  transition: 0.4s;
  letter-spacing: 2px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #04fefc 30%, #004e92);
}
.buttons2:active {
  transform: translateY(3px);
}
.rainbow-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  width: 18vw;
  padding: 16px;
  border-radius: 20px 20px 20px 20px;
  border: 0px solid #f60000;
  color: aliceblue;
  font-size: 20px;
  font-family: "Lora", serif;
  text-align: center;

  box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
  -webkit-box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
  -moz-box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);

  text-shadow: -2px 4px 8px rgba(4, 254, 252, 0.82);
}
.heading1 {
  font-size: 50px;
  text-shadow: -2px 4px 8px rgba(4, 254, 252, 0.82);
}
.returns {
  color: white;
  height: 50vh;
  width: 50%;
  margin-top: 80px;
  padding: 20px 20px;
  font-family: "Lora", serif;
  margin-left: 450px;
  box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
  -webkit-box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
  -moz-box-shadow: 4px 7px 55px -6px rgba(4, 254, 252, 0.53);
}
.return-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 25px;
  height: 100%;
}
