.div5{
    margin-top: 2em;
    display: flex;
    color: #514e4e;
    height: 100vh;
    align-items: center;
    
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 10px;
}
.list-itemq{
    margin-top: 1em;
    
    font-family: "Noto Serif", "Noticia Text", Georgia, "Times New Roman", serif;

    font-size: 26px;
    color: #514e4e;
    margin-bottom: 10px;
    position: relative;
    transition: color 0.3s;
    cursor: pointer;
    list-style: none;
    line-height: 20px;
}
.list-itemq:hover{
    color: red;
}